body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Crimson Pro', serif;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'MedievalSharp', cursive;
}

.header {
    z-index: 10000;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
}

.logo-link {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.menu-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 40px;
}

.popup-menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    z-index: 10001;
}

.popup-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popup-menu li {
    padding: 10px 0;
}

.popup-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.popup-menu a:hover {
    opacity: 0.8;
}

.popup-menu .copyright {
    font-size: 12px;
    color: #ccc;
    margin-top: 20px;
}

.vertical-sections {
    display: flex;
    height: 100vh;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black; /* Изменено на голубой цвет (Steel Blue) */
    transition: background-image 1s ease;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.divider {
    width: 2px;
    background-color: #202020;
}

.section h2, .section p {
    transition: color 2s ease;
}

.section h2 {
    font-family: 'Gotu', sans-serif;
    font-size: 4rem;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(var(--y-offset));
    color: white;
}

.section p {
    font-size: 1rem;
    line-height: 1.5;
    z-index: 2;
    color: black;
    width: 100%;
    max-width: 80%;
    position: absolute;
    top: calc(50% + 2rem + var(--y-offset));
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    box-sizing: border-box;
}

.section:hover {
    background-size: cover;
    background-position: center;
}

.section:hover h2, .section:hover p {
    color: white;
}

#K h2 { --y-offset: -40px; }
#A h2 { --y-offset: -20px; }
#R h2 { --y-offset: -30px; }
#H h2 { --y-offset: -25px; }
#A2 h2 { --y-offset: -35px; }
#T h2 { --y-offset: -15px; }

.particle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}

.fairy-dust {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: screen;
}

@keyframes fairyDustAnimation {
    0% {
        transform: translateY(0) translateX(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px) translateX(var(--endX)) scale(0);
        opacity: 0;
    }
}

@keyframes particleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@media (max-height: 600px) {
    .section h2 {
        font-size: 3rem;
    }
    .section p {
        font-size: 0.9rem;
    }
}

@media (max-height: 450px) {
    .section h2 {
        font-size: 2.5rem;
    }
    .section p {
        font-size: 0.8rem;
    }
}

/* Стилизация изображения Instagram */
.instagram-icon {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10002;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instagram-icon img {
    height: 20vh;
    width: auto; /* пропорциональная ширина */
}

/* Эффект увеличения и пульсирующего свечения при наведении */
.instagram-icon:hover {
    transform: translateX(-50%) scale(1.2);
    animation: pulseGlow 1.5s infinite alternate;
}

@keyframes pulseGlow {
    from {
        box-shadow: 0 0 10px rgba(173, 216, 230, 0.8);
    }
    to {
        box-shadow: 0 0 20px rgba(173, 216, 230, 1);
    }
}
